<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>カラオケ追加</title></head>
<body>

<h2>カラオケ店舗を追加</h2>

<form method="POST" action="/karaoke/create">

<table border="1">
<tr><th>項目</th><th>入力</th></tr>

<tr><td>店名</td><td><input type="text" name="name"></td></tr>
<tr><td>住所</td><td><input type="text" name="address"></td></tr>
<tr><td>営業時間</td><td><input type="text" name="openHours"></td></tr>
<tr><td>部屋数</td><td><input type="number" name="rooms"></td></tr>
<tr><td>料金(1h)</td><td><input type="number" name="price"></td></tr>

</table>

<br>
<button type="submit">追加する</button>

</form>

<br>
<a href="/karaoke">一覧に戻る</a>

</body>
</html>
